<main #main>

    
    <section>
        <div class="white-box slide1 absolute-pos" #slideOne >
            <p class="no-margin">Introducing</p>
            <h1 class="no-margin">THE CUBE</h1>
        </div>
    </section>

    <section>

        <div class="white-box slide2  absolute-pos" #slideTwo >
            
            <h1 class="no-margin">THE CUBE</h1>
            <p class="no-margin">But it changes colours</p>
        </div>

    </section>

    <section>

        <div class="white-box slide3  absolute-pos" #slideThree >
            
            <h1 class="no-margin">THE CUBE</h1>
            <p class="no-margin">But it rotates</p>
        </div>

    </section>

    </main>
