/* You can add global styles to this file, and also import other style files */
body,
html{
    width: 100%;
    height:100vh;
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    color:#111111;
}

canvas{
    display: block;
}

h1{
    font-size:72px;
}

p{
    font-size:16px;
    font-weight:400;
}

.max-width-container{
    max-width:1280px;
    width:100%;
    margin:0 auto;
    padding:50px 0px;
    display: block;
}

.no-padding{
    padding:0 !important;
}

.no-margin{
    margin:0 !important;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}